{% extends "base.html" %}

{% load static %}

{% url 'explore_cy' as explore_cy_url %}

{% block content %}

<section id="secondary" class="text-center">
    <div id="home_page" class="container-fluid fullscreen_height">
        <div class="row">
            <div class="col">
                <h1 class="text-light">Discover the depths with confidene</h1>
                <a class="btn btn-outline-dark" href="#">OUR COURSES AND SERVICES</a>
                <a class="btn btn-outline-dark" href="{% url 'explore_cy' %}">EXPLORE CYPRUS</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}