/* --------------------------- General styles --------------------------- */
.fullscreen_height {
    height: 100vh;
}

.page-titles {
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* --------------------------- NavBar --------------------------- */
#navbarNav {
    justify-content: flex-end;
}

#logo-image {
    width: 7rem;
    margin-left: 1rem;
}

#logo-image:hover {
    transform: scale(1.05);
}

.nav-item-white {
    font-size: 1.3rem;
    color: white;
}

.nav-item-black {
    font-size: 1.3rem;
    color: black;
}

.nav-item:hover {
    transform: scale(1.1);
}

.navbar-toggler {
    border: none;
}

/* --------------------------- Home Page --------------------------- */
#hero {
    background: url(../images/hero_home_page.jpg) no-repeat center center/cover;
}

#home_page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero_text {
    font-size: 5rem;
}

#moto_text {
    font-size: 1.5rem;
}

.cta-btn {
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px;
}
/* --------------------------- Secondary Page --------------------------- */
#secondary {
    background: url(../images/hero_secondary.jpg) no-repeat center center/cover;
}

#secondary_hero_text {
    font-size: 4rem;
}

#secondary-cta-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cta-btn-secondary {
    width: 12rem;
    height: 6rem;
    margin-bottom: 20px;
}

#courses-cta {
    font-size: 1.5rem;
}

#explore-cta {
    font-size: 1.8rem;
}
/* --------------------------- Explore CY Page --------------------------- */
#explore_cy_page {
    background: url(../images/diving-sites-18.jpg) no-repeat center center/cover;
}

/* --------------------------- Courses and Services Page --------------------------- */
.accordion-collapse {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.course-image {
    height: 300px;
    object-fit: cover;
}

.card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.courses-cards {
    height: 550px;
    width: 20rem;
}

.courses-cards:hover,
.sites-cards:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.course-info-image {
    height: 500px;
    width: auto;
}

/* --------------------------- Explore_cy Page --------------------------- */
#explore_title {
    font-size: 60px;
}
#description_cy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    margin: 10px 20px;
}

/* --------------------------- Diving Sites Page --------------------------- */
.sites-row {
    margin: 0 2rem;
}

.sites-cards {
    height: 230px;
    width: 20rem;
}

.sites-cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------------------------- About Us Page --------------------------- */
.image-rows {
    margin: 50px 0;
}

.instructor-img {
    width: 320px;
    height: 300px;
    border-radius: 50%;
}

.gallery-img{
    height: 300px;
    width: auto;
}

.about_us_paragraphs {
    padding: 0 100px;
    line-height: 35px;
    letter-spacing: 2px;
    text-align: justify;
    font-size: large;
}

/* --------------------------- Footer --------------------------- */
.footer-links {
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
    font-size: larger;
}

iframe {
    margin-top: 20px;
    width: 500px;
    height: 350px;
    border:0;
}

/* --------------------------- Media queries --------------------------- */
@media (max-width: 992px) {
    iframe {
        width: 500px;
    }

    .about_us_paragraphs {
        padding: 0 5px;
    }
}

@media (max-width: 768px) {
    iframe {
        width: 250px;
    }
}

@media (max-width: 576px) {
    #secondary-cta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer-row {
        display: flex;
        flex-direction: column;
    }

    .footer-cols {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 300px;
    }

    .gallery-img{
        height: 150px;
        width: auto;
    }

    .course-info-image {
        height: 300px;
    }

@media (max-width: 400px) {
        .card {
            width: 16rem;
        }

        .course-info-image {
            height: 260px;
        }
    }
}