/* --------------------------- General styles --------------------------- */
.fullscreen_height {
    height: 100vh;
}

.screen-height-83 {
    height: 83vh;
}

.page-titles {
    font-size: 5rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.secondary-titles {
    font-size: 3rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.cta-buttons-div {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 3rem;
}

.card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* --------------------------- NavBar --------------------------- */
#navbarNav {
    justify-content: flex-end;
    padding-right: 2rem;
}

#logo-image {
    width: 6rem;
    margin-left: 1rem;
}

#logo-image:hover {
        cursor: pointer;
        transform: scale(1.05);
    } 

.nav-item-white {
    font-size: 1.3rem;
    color: white;
}

.nav-item-black {
    font-size: 1.3rem;
    color: black;
}

.nav-item-black:hover {
        transform: scale(1.1);
    }

.navbar-toggler {
    border: none;
}

/* --------------------------- Home Page --------------------------- */
#home-section {
    position: relative;
}

#home-text-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
}

.aboutUs-row-homepage {
    display: flex;
    flex-direction: column;
}

#hero_text {
    font-size: 4.5rem;
}

#moto_text {
    font-size: 1.5rem;
    opacity: 0.75;
}

.cta-btn {
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.carousel-div {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.carousel-images {
    height: 83vh;
    width: 100%;
    object-fit: cover;
}

.statement-col {
    border-left: 1px solid grey;
    padding: 1rem 2rem;
}

#about-us-team-photo {
    width: 50%;
}

#explore-cyprus-section {
    position: relative;
    width: 100%;
    height: 75vh; 
    overflow: hidden;
}

#explore-cyprus-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

#explore-cyprus-div {
    position: absolute;
    bottom: 15%;
    left: 74%;
    width: max-content;
}

.popular-cards {
    height: 28rem;
    border: none;
    border-radius: 0;
    margin: 1rem 0.5rem;
}

.card-img-top {
    object-fit: cover;
    height: 230px;
}

.popular-card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.popular-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* --------------------------- Secondary Page --------------------------- */
#secondary {
    position: relative;
}

#secondary-page-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#secondary_hero_text {
    font-size: 4rem;
}

#secondary-cta-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cta-btn-secondary {
    width: 12rem;
    height: 6rem;
    margin-bottom: 20px;
}

#courses-cta {
    font-size: 1.5rem;
}

#explore-cta {
    font-size: 1.8rem;
}

#volume-controls-row {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    width: 10%;
}

.volume-controls:hover {
    cursor: pointer;
    transform: scale(1.3);
    font-size: larger;
}
/* --------------------------- Explore CY Page --------------------------- */
#explore_cy_hero_section {
    background: url(../images/diving-sites-18.jpg) no-repeat center center/cover;
}

#explore-title {
    font-size: 60px;
    padding-left: 2rem;
}

#description_cy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    margin: 10px 20px;
}

/* --------------------------- Courses and Services Page --------------------------- */
.accordion-collapse {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    color: white;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #000;
}

.course-image,
.diving-site-image {
    width: 50%;
}

.accordion-item {
    border: none;
}

.courses-cards {
    height: 400px;
    width: 20rem;
}

.courses-cards:hover,
.sites-cards:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.course-info-image {
    height: 500px;
    width: auto;
}

/* --------------------------- Diving Sites Page --------------------------- */
.sites-row {
    margin: 0 2rem;
}

.sites-cards {
    height: 230px;
    width: 20rem;
}

.sites-cards img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* --------------------------- About Us Page --------------------------- */
.image-rows {
    margin: 50px 0;
}

.instructor-img {
    width: 320px;
    height: 300px;
    border-radius: 50%;
}

.gallery-img{
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.about_us_paragraphs {
    padding: 0 100px;
    line-height: 35px;
    letter-spacing: 2px;
    text-align: start;
    font-size: large;
}

.cta-about-us {
    font-size: 1.7rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1.7rem;
    width: 11em;
}

.cta-about-us:hover {
    transform: scale(1.05);
}

/* --------------------------- Footer --------------------------- */
.footer-images {
    height: 170px;
}
.footer-image-1 {
    background: url(../images/awarded_picture.jpg) no-repeat center center/cover;
}

.footer-image-2 {
    background: url(../images/netdivers-services-9.jpg) no-repeat center center/cover;
}

.footer-image-3 {
    background: url(../images/hero_secondary.jpg) no-repeat center center/cover;
}

.footer-image-4 {
    background: url(../images/netdivers-services-6.jpg) no-repeat center center/cover;
}

.footer-image-5 {
    background: url(../images/netdivers-services-7.jpg) no-repeat center center/cover;
}

.footer-image-6 {
    background: url(../images/netdivers-services-13.jpg) no-repeat center center/cover;
}

.footer-links {
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
    font-size: larger;
}

iframe {
    margin-top: 20px;
    width: 500px;
    height: 350px;
    border:0;
}

/* --------------------------- Media queries --------------------------- */
@media (max-width: 1024px) {
    .course-image,
    .diving-site-image {
        width: 100%;
    }

    #explore-cyprus-div {
        left: 66%;
    }
}

@media (max-width: 992px) {
    .popular-cards {
        height: 22rem;
    }

    iframe {
        width: 500px;
    }

    .about_us_paragraphs {
        padding: 0 10px;
    }

    .cta-buttons-div {
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .statement-col {
        border: none;
    }

    #explore-cyprus-div {
        left: 58%;
    }
}

@media (max-width: 768px) {
    iframe {
        width: 250px;
    }

    #volume-controls-row {
    bottom: 3rem;
    }
}

@media (max-width: 576px) {
    #about-us-team-photo {
        width: 100%;
    }

    #explore-cyprus-div {
        left: 25%;
    }

    #popular-courses-row {
        display: flex;
        flex-direction: column;
    }

    #secondary-cta-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #volume-controls-row {
    bottom: 1rem;
    }

    .footer-row {
        display: flex;
        flex-direction: column;
    }

    .footer-cols {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid white;
        padding-bottom: 1rem;
    }

    iframe {
        width: 300px;
    }

    .gallery-img{
        height: 150px;
        width: 250px;
    }
}

@media (max-width: 400px) {
    #hero_text {
        font-size: 3.5rem;
    }

    #explore-cyprus-div {
        left: 17%;
    }

    #explore-title {
        padding-left: 0;
    }

    .card {
        width: 16rem;
    }

    .card-cols {
        padding: 0;
    }

    #secondary_hero_text {
        font-size: 3rem;
    }
}