/* --------------------------- NavBar --------------------------- */
#navbarNav {
    justify-content: flex-end;
}

/* --------------------------- Home Page --------------------------- */
#hero {
    background: url(../images/hero_home_page.jpg) no-repeat center center/cover;
}

#home_page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------- Secondary Page --------------------------- */
#secondary {
    background: url(../images/hero_secondary.jpg) no-repeat center center/cover;
}
